@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background: #f4f4f8;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #cacaca;
}

.footer-container {
    top: 0;
    background: #000;
    position: fixed;
    width: 100%;
    z-index: 100;
}

footer {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 15px;
    padding-bottom: 0;
    border-bottom: 1px solid rgb(88, 88, 88);
    /* border-bottom: 1px solid rgb(158, 158, 158); */
    -webkit-box-shadow: 0px 5px 6px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 6px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 6px 0px rgba(34, 60, 80, 0.2);
}

#nav-wrapper {
    display: flex;
    height: 40px;
}

#search-wrap {
    height: 100%;
    width: 65%;
    max-width: 65%;
    min-width: 300px;
    /* background: #000; */
    display: flex;
    border: 1px solid rgb(88, 88, 88);
    /* border: 1px solid rgb(126, 126, 126); */
    border-radius: 5px;
}

#search {
    height: 100%;
    width: 100%;
    min-width: 250px;
    max-width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 1%;
}

#search-wrap img {
    width: 20px;
    margin: auto 0;
    margin-left: auto;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 10px;
}

.nav-btn {
    width: 35%;
    display: flex;
}

.nav-btn button {
    margin-left: 13%;
    height: 100%;
    display: flex;

    /* width: 100px; */
    background: transparent;
    border: none;
    /* background: #000; */
}

#subscriptins_content_btn {
    width: 40%;
}

#explore_content_btn {
    width: 30%;
}

.nav-btn button svg {
    margin: auto 0;
    height: 90%;
}

.nav-btn button p {
    margin: auto 0;
    font-size: 1.5vw;
    font-weight: 300;
    margin-left: 10px;
    /* margin-left: 10px; */
    color: #0A022A;
}

.footer_nav_btn path,
.footer_nav_btn rect,
.footer_nav_btn p {
    transition: 150ms;
}

#explore_content_btn:hover path,
#explore_content_btn:hover rect,
#explore_content_btn:hover p {
    stroke: #7C95FF;
    color: #7C95FF;
}


#subscriptins_content_btn:hover path,
#subscriptins_content_btn:hover rect,
#subscriptins_content_btn:hover p {
    stroke: #7C95FF;
    color: #7C95FF;
}

.left-nav-wrap {
    width: 80px;
    height: 300px;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 25%;
    background: #fff;
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    padding: 15px;
    /* border: 1px solid rgb(126, 126, 126); */
    border: 1px solid rgb(88, 88, 88);
    border-left: 0;
    justify-content: space-between;
    z-index: 100;
    -webkit-box-shadow: 0px 5px 10px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px -3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px -3px rgba(34, 60, 80, 0.2);
}

.left-nav {
    margin: 0 auto;
}

.left-nav svg {
    width: 40px;
    height: 40px;
}

.left-nav:hover {
    cursor: default;
}

.left-nav svg path,
.left-nav svg circle {
    transition: 150ms;
}

.left-nav:hover svg path,
.left-nav:hover svg circle {
    stroke: #7C95FF;
}

/* -------------------------- */
/* ------------HOME---------- */
/* -------------------------- */


.home-content {
    /* margin: 0 auto; */
    margin-left: 110px;
    margin-right: 5px;
    margin-top: 185px;
    display: flex;
    width: 85%;
    margin-bottom: 20px;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: .4vw .4vw;
    grid-auto-flow: row dense;
}

.item {
    background: rgba(0, 0, 0, 0.1);
    height: 12.5vw;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.large {
    background: rgba(255, 0, 0, 0.25);
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    height: calc(25vw + .4vw);
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item:hover .post_like_icon{
    visibility: visible;
    opacity: 1;
}

.post_like_icon {
    position: absolute;
    bottom: 0;
    right: 0;
    /* width: 100%; */
    /* height: 100%; */
    border: none;
    background: transparent;
    box-sizing: border-box;
    padding: 1vw;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all 100ms ease-in-out;
    outline:0
}

.post_like_icon svg {
    margin-left: auto;
    margin-top: auto;
    width: 2.5vw;
    height: 2.5vw;
    transition: all 100ms ease-in-out;
}

.btn_red{
    fill: #F93318;
}

.post_like_icon svg:hover{
    transform: scale(110%);
}

/* .post_like_icon path:hover{
    transform: scale(110%);
} */

.post_like_icon svg:active{
    transform: scale(100%);
}

.home-alert-wrap {
    top: 10%;
    left: calc(50% - 300px);
    position: fixed;
    width: 600px;
    height: 80vh;
    background: #f4f4f8;
    z-index: 1001;
    border-radius: 10px;
    border: 1px solid rgb(88, 88, 88);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#home-alert-bg {
    top: 0;
    position: fixed;
    z-index: 1100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.664);
}

#close_alert {
    background: transparent;
    border: none;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: auto 0;
    position: absolute;
    right: 0;
}

#close_alert svg {
    width: 100%;
    height: 100%;
}

.home-alert-topSide {
    display: flex;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(88, 88, 88);
}

.home-alert-topSide h3 {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
}

#close_alert svg path {
    transition: 150ms;
}

#close_alert:hover svg path {
    stroke: #7C95FF;
}

.home-alert-content {
    /* margin-top: 5px; */
    overflow-y: scroll;
}

.home-alert-content::-webkit-scrollbar {
    width: 0;
}

#home_alert_place {
    position: fixed;
    visibility: hidden;
    z-index: 1000;
    opacity: 0;
    transition: all 180ms ease-in-out;
}