{% load static %}

<div id="home-alert-bg" class="profile_folers_panel">
    <div id="close_alert_bg"></div>
    <div class="home-alert-wrap profile_folers_wrap">
        <div class="home-alert-topSide">
            <h3>All folders</h3>
            <button id="close_alert">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 21L21 1M1 1L21 21" stroke="#0A022A" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="home-alert-content">
            {% for folder in folders %}
            <div class="category all_category">
                <div class="category-name-wrap">
                    <div class="category-name">{{ folder.folder_name }}</div>
                </div>
                <div class="category-blur"></div>
                {% if folder.folder_bg %}
                <img src="{{ folder.folder_bg.url }}" alt="">
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>