{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/category_slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    {% block base_alert %}
    
    {% endblock base_alert %}
    <div class="footer-container">
        <footer>
            <div id="nav-wrapper">
                <div id="search-wrap">
                    <input id="search" type="text">
                    <img src="{% static 'img/search_icon.svg' %}" alt="">
                </div>
                <div class="nav-btn">
                    <button class="footer_nav_btn" id="subscriptins_content_btn">
                        <svg width="39" height="44" viewBox="0 0 39 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M32.5815 37.5327C25.3568 44.8224 13.6432 44.8225 6.41852 37.5327C2.80618 33.8878 1.00001 29.1106 1 24.3333C0.999993 19.5561 2.80617 14.7789 6.41853 11.134C6.41853 11.134 7.9376 14.9999 12.5626 17.3332C12.5626 12.6666 13.7189 5.66657 19.4674 1C24.125 5.66667 28.9608 7.48071 32.5815 11.134C36.1938 14.7789 38 19.5561 38 24.3334C38 29.1106 36.1938 33.8878 32.5815 37.5327Z"
                                stroke="#0A022A" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M14.5944 31.6163C17.3037 34.35 21.6963 34.35 24.4056 31.6163C25.7602 30.2495 26.4375 28.4581 26.4375 26.6667C26.4375 24.8752 25.7602 23.0837 24.4056 21.7168C23.0595 20.3586 21.2979 19.6752 19.5337 19.6667L17.1874 26.6665L12.5625 26.6667C12.5625 28.4581 13.2398 30.2495 14.5944 31.6163Z"
                                stroke="#0A022A" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p>Subscriptions</p>
                    </button>
                    <button class="footer_nav_btn" id="explore_content_btn">
                        <svg id="explore_content_icon" width="49" height="51" viewBox="0 0 49 51" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect x="1" y="1" width="47.25" height="48.7742" rx="23.625" stroke="#0A022A"
                                stroke-width="1.5" stroke-linejoin="round" />
                            <path d="M15.5745 34.5422L21.3226 21.3226L34.5423 15.5745L28.7942 28.7941L15.5745 34.5422Z"
                                stroke="#0A022A" stroke-width="1.5" stroke-linejoin="round" />
                        </svg>
                        <p>Explore</p>
                    </button>
                </div>
            </div>
            {% block categories %}

            {% endblock categories %}
        </footer>
    </div>

    <div id="bottom-followed">
        <img id="close_follow" src="{% static 'img/close_cross.svg' %}" alt="">
        <h3>My follow</h3>
        <div class="follow-search">
            <input type="text">
            <img src="{% static 'img/search_icon.svg' %}" alt="">
        </div>
        <div class="follow_user_place">
            <div class="follow_user">
                <div class="follow_user_img">
                    <img src="{% static 'img/avv.jpg' %}" alt="">
                </div>
                <a class="follow_user_username" href="">
                    toxic.mhp
                </a>
                <button id="unfollow_btn">Unfollow</button>
            </div>
            <div class="follow_user">
                <div class="follow_user_img">
                    <img src="{% static 'img/avv.jpg' %}" alt="">
                </div>
                <a class="follow_user_username" href="">
                    toxic.mhp
                </a>
                <button id="unfollow_btn">Unfollow</button>
            </div>
            <div class="follow_user">
                <div class="follow_user_img">
                    <img src="{% static 'img/avv.jpg' %}" alt="">
                </div>
                <a class="follow_user_username" href="">
                    toxic.mhp
                </a>
                <button id="unfollow_btn">Unfollow</button>
            </div>
            <div class="follow_user">
                <div class="follow_user_img">
                    <img src="{% static 'img/avv.jpg' %}" alt="">
                </div>
                <a class="follow_user_username" href="">
                    toxic.mhp
                </a>
                <button id="unfollow_btn">Unfollow</button>
            </div>
            <div class="follow_user">
                <div class="follow_user_img">
                    <img src="{% static 'img/avv.jpg' %}" alt="">
                </div>
                <a class="follow_user_username" href="">
                    toxic.mhp
                </a>
                <button id="unfollow_btn">Unfollow</button>
            </div>
            <div class="follow_user">
                <div class="follow_user_img">
                    <img src="{% static 'img/avv.jpg' %}" alt="">
                </div>
                <a class="follow_user_username" href="">
                    toxic.mhp
                </a>
                <button id="unfollow_btn">Unfollow</button>
            </div>
            <div class="follow_user">
                <div class="follow_user_img">
                    <img src="{% static 'img/avv.jpg' %}" alt="">
                </div>
                <a class="follow_user_username" href="">
                    toxic.mhp
                </a>
                <button id="unfollow_btn">Unfollow</button>
            </div>
        </div>
    </div>

    <div id="bottom-nav-wrap" class="bottom-nav-wrap">
        <a class="bottom-nav" id="home" href="{% url 'home' %}">
            <svg width="47" height="44" viewBox="0 0 47 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M1 17.2058L23.5 1L46 17.2058M41.3698 14.8907L39.0794 40.8478C38.9883 41.8802 38.1236 42.672 37.0872 42.672H28.9622H18.0378H9.91282C8.87638 42.672 8.01166 41.8802 7.92056 40.8478L5.63023 14.8907"
                    stroke="#0A022A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <circle cx="23.7972" cy="25.513" r="7.35389" stroke="#0A022A" stroke-width="1.5" />
            </svg>
        </a>
        <a class="bottom-nav" id="profile" href="{% url 'profile' %}">
            <svg width="34" height="45" viewBox="0 0 34 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17" cy="9" r="8" stroke="#0A022A" stroke-width="1.5" stroke-linecap="round" />
                <path
                    d="M33 35.6667C33 43.0305 24.3638 43.6667 17 43.6667C9.6362 43.6667 1 43.0305 1 35.6667C1 28.3029 9.6362 22.3333 17 22.3333C24.3638 22.3333 33 28.3029 33 35.6667Z"
                    stroke="#0A022A" stroke-width="1.5" stroke-linecap="round" />
            </svg>
        </a>
        <a class="bottom-nav" id="create" href="{% url 'create_post' %}">
            <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M23 15.6667V23M23 23V30.3333M23 23H30.3333M23 23H15.6667M45 23C45 35.1503 35.1503 45 23 45C10.8497 45 1 35.1503 1 23C1 10.8497 10.8497 1 23 1C35.1503 1 45 10.8497 45 23Z"
                    stroke="#0A022A" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
        <a class="bottom-nav" id="subscriptions">
            <svg width="42" height="35" viewBox="0 0 42 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="21.6252" cy="7.1875" r="6.1875" stroke="#0A022A" stroke-width="1.5"
                    stroke-linecap="round" />
                <path
                    d="M34.0002 27.8125C34.0002 33.5079 27.3207 34 21.6252 34C15.9298 34 9.25024 33.5079 9.25024 27.8125C9.25024 22.1171 15.9298 17.5 21.6252 17.5C27.3207 17.5 34.0002 22.1171 34.0002 27.8125Z"
                    stroke="#0A022A" stroke-width="1.5" stroke-linecap="round" />
                <path
                    d="M32.7701 14.1204C35.8237 14.1204 38.2991 11.645 38.2991 8.59147C38.2991 5.5379 35.8237 3.0625 32.7701 3.0625"
                    stroke="#0A022A" stroke-width="1.5" stroke-linecap="round" />
                <path d="M41.0635 25.75C41.0635 20.8696 37.4044 16.58 32.7701 14.1204" stroke="#0A022A"
                    stroke-width="1.5" stroke-linecap="round" />
                <path
                    d="M9.29355 14.1204C6.23998 14.1204 3.76458 11.645 3.76458 8.59147C3.76458 5.5379 6.23998 3.0625 9.29355 3.0625"
                    stroke="#0A022A" stroke-width="1.5" stroke-linecap="round" />
                <path d="M1.00006 25.75C1.00006 20.8696 4.65919 16.58 9.29352 14.1204" stroke="#0A022A"
                    stroke-width="1.5" stroke-linecap="round" />
            </svg>
        </a>
        <a class="bottom-nav" id="log_out" href="">
            <svg width="40" height="36" viewBox="0 0 40 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M30.5556 26.5L39 18M39 18L30.5556 9.5M39 18L9.44444 18M22.1111 26.5V28.625C22.1111 32.1458 19.2756 35 15.7778 35H7.33333C3.83553 35 1 32.1458 1 28.625V7.375C1 3.85418 3.83553 1 7.33333 1H15.7778C19.2756 1 22.1111 3.85418 22.1111 7.375V9.5"
                    stroke="#0A022A" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
    </div>

    {% block content %}

    {% endblock content %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    
    {% block script %}

    {% endblock script %}
</body>

</html>