{% load static %}
<div class="categories-wrap">
    <style>
        .category_slider .slick-arrow.slick-prev {
            left: 0;
            background: url("{% static 'img/arrow_left.svg' %}") 0 0 / 100% no-repeat;
        }
    </style>
    <div class="category_slider">
        <div class="category">
            <div class="category-name-wrap">
                <div class="category-name">Painting</div>
            </div>
            <div class="category-blur"></div>
            <img src="{% static 'img/im6.jpg' %}" alt="">
        </div>
        <div class="category">
            <div class="category-name-wrap">
                <div class="category-name">Game art</div>
            </div>
            <div class="category-blur"></div>
            <img src="{% static 'img/im2.jpg' %}" alt="">
        </div>
        <div class="category">
            <div class="category-name-wrap">
                <div class="category-name">Painting</div>
            </div>
            <div class="category-blur"></div>
            <img src="{% static 'img/im6.jpg' %}" alt="">
        </div>
        <div class="category">
            <div class="category-name-wrap">
                <div class="category-name">Painting</div>
            </div>
            <div class="category-blur"></div>
            <img src="{% static 'img/im6.jpg' %}" alt="">
        </div>
        <div class="category">
            <div class="category-name-wrap">
                <div class="category-name">Painting</div>
            </div>
            <div class="category-blur"></div>
            <img src="{% static 'img/im6.jpg' %}" alt="">
        </div>
        <div class="category">
            <div class="category-name-wrap">
                <div class="category-name">Painting</div>
            </div>
            <div class="category-blur"></div>
            <img src="{% static 'img/im6.jpg' %}" alt="">
        </div>
    </div>
    <style>
        .category_slider .slick-arrow.slick-next {
            right: 0;
            background: url("{% static 'img/arrow_right.svg' %}") 0 0 / 100% no-repeat;
        }
    </style>
</div>