{% extends 'base.html' %}
{% load static %}
{% load art_tags %}

{% block title %}Folder edit{% endblock title %}

{% block categories %}
<div class="footer_padding"></div>
{% endblock categories %}

{% block content %}
    <form id="edit_profile_wrap" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="update_input">
            <p>Name</p>
            {{ form.folder_name }}
        </div>
        <div class="update_input">
            <p>Background</p>
            <div class="update-input-wrap">
                <input id="folder_background_input" accept="image/jpeg, image/png" name="folder_bg" type="file">
                <span id="clear_folder_bg">Clear</span>
            </div>
            <input type="checkbox" id="delete_folder_bg" name="delete_folder_bg" value="True">
            <label for="delete_folder_bg">Delete folder background</label>
        </div>
        <div class="post_line"></div>
        <input type="hidden" id="" name="folder_id" value="{{ folder.id }}">
        <button id="save_update">Save</button>
    </form>
{% endblock content %}

{% block script %}
<script>
    document.getElementById('clear_folder_bg').onclick = function(){
        document.getElementById('folder_background_input').value = '';
    }
</script>
{% endblock script %}