{% extends 'base.html' %}
{% load static %}
{% load art_tags %}

{% block title %}Profile{% endblock title %}

{% block categories %}
<div class="footer_padding"></div>
{% endblock categories %}

{% block base_alert %}
<div id="home_alert_place">
    {% include 'site_profile/includes/profile_folders_panel.html' %}
</div>
{% endblock base_alert %}

{% block content %}
<div id="profile_wrap">
    <div class="prof-description-wrap">
        {% if profile.profile_bg %}
        <div class="profile_descr_bg_wrap">
            <img id="profile_descr_bg" src="{{ profile.profile_bg.url }}" alt="">
        </div>
        {% endif %}
        <div class="prof_left">
            <div class="prof_avatar">
                <img src="{% check_avatar profile %}" alt="">
                <!-- <img src="{{ profile.profile_avatar }}" alt=""> -->
            </div>
            <div class="prof-description">
                <div class="prof-nickname">
                    {{ profile.profile_user.username }}
                </div>
                <div class="prof-text">
                    {% if profile.profile_description %}
                    {{ profile.profile_description }}
                    {% endif %}
                </div>
                <div class="activity">
                    {% if profile.profile_activity %}
                    {{ profile.profile_activity }}
                    {% endif %}
                </div>
                <div class="prof-buttons">
                    <button id="small_resolution_folder_btn">
                        <img src="{% static 'img/folder.svg' %}" alt="">
                        <p>Folders</p>
                    </button>
                    {% if profile.profile_user == user %}
                    <a class="profile_button" id="edit_profile" href="{% url 'profileUpdate' profile.profile_slug_url %}">
                        Edit
                    </a>
                    {% else %}
                    <form id="follow_form">
                        {% csrf_token %}
                        {% is_follow user profile.id as is_follow %}
                        {% if is_follow %}
                        <button class="profile_button" id="follow_btn">
                            <input type="hidden" name="follow_id" value="{{ profile.id }}">
                            <img src="{% static 'img/follow.svg' %}" alt="">
                            <p id="follow_text">Following</p>
                        </button>
                        {% else %}
                        <button class="profile_button follow_color" id="follow_btn">
                            <input type="hidden" name="follow_id" value="{{ profile.id }}">
                            <img src="{% static 'img/follow.svg' %}" alt="">
                            <p id="follow_text">Follow</p>
                        </button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <button class="small_resolution_accordion active">
                <p>Profile statistics</p>
                <img id="small_resolution_accordion_icon" src="{% static 'img/right_arrow.svg' %}" alt="">
            </button>
            <div id="prof_statistics_small" class="prof_statistics_small">
                <h3>Profile statistics</h3>
                <div class="prof_stat">
                    Followers:
                    <p>244</p>
                </div>
                <div class="prof_stat">
                    Posts:
                    <p>35</p>
                </div>
                <div class="prof_stat">
                    Follows:
                    <p>43</p>
                </div>
                <div class="prof_stat">
                    Likes:
                    <p>3553</p>
                </div>
            </div>
        </div>
        <div class="prof_statistics">
            <h3>Profile statistics</h3>
            <div class="prof_stat">
                Followers:
                <p>{{ profile.follow.count }}</p>
            </div>
            <div class="prof_stat">
                Posts:
                <p>none</p>
            </div>
            <div class="prof_stat">
                Follows:
                <p>{{ profile.follower.count }}</p>
            </div>
            <div class="prof_stat">
                Likes:
                <p>none</p>
            </div>
        </div>
        <div class="prof_folders">
            <h3>Profile folders</h3>
            {% for folder in folders %}
            {% if forloop.counter0 <= 2 %}
            <div class="category prof_folder">
                <div class="category-name-wrap">
                    <div class="category-name">{{ folder.folder_name }}</div>
                </div>
                <div class="category-blur"></div>
                {% if folder.folder_bg %}
                <img src="{{ folder.folder_bg.url }}" alt="">
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            
            {% comment %} <div class="category prof_folder">
                <div class="category-name-wrap">
                    <div class="category-name">Painting</div>
                </div>
                <div class="category-blur"></div>
                <img src="{% static 'img/im6.jpg' %}" alt="">
            </div>
            <div class="category prof_folder">
                <div class="category-name-wrap">
                    <div class="category-name">Painting</div>
                </div>
                <div class="category-blur"></div>
                <img src="{% static 'img/im6.jpg' %}" alt="">
            </div>
            <div class="category prof_folder">
                <div class="category-name-wrap">
                    <div class="category-name">Painting</div>
                </div>
                <div class="category-blur"></div>
                <img src="{% static 'img/im6.jpg' %}" alt="">
            </div> {% endcomment %}
            <button id="all_folders_btn">
                All folders
            </button>
            
        </div>
    </div>
    <div class="profile-content">
        <!-- <div id="profile_content_bg">
            <img src="{% static 'img/im4.jpg' %}" alt="">
        </div> -->
        <!-- <div class="profile_content_bg_blur"></div> -->
        <div class="grid">
            <div class="item">
                <img src="{% static 'img/im6.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im2.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im6.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/gg_2.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im4.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im5.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im3.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im4.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im5.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/gg_2.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im4.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im5.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/gg_2.jpg' %}" alt="">
            </div>

            <div class="item">
                <img src="{% static 'img/im4.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im5.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im2.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im5.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/gg_2.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im4.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im4.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im5.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im3.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/im5.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $('#follow_form').submit(function(e){
        e.preventDefault();
        let form_data = $(this).serialize();
        $.ajax({
            type: "POST",
            url: "{% url 'profile' profile.profile_slug_url %}",
            data: form_data,
            success: function(data){

            }
        });
    });
</script>
{% endblock script %}